
<div class="container-fluid" ng-controller="patientsController">
  <div class="row">
    
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item-info">

          <div class="container-fluid">
            
              <p>StudyDescription: <strong>{{instanceRecords.StudyDescription}}</strong>
              </p>
              <p>BodyPartExamined: <strong>{{instanceRecords.BodyPartExamined}}</strong>
              </p>
              <p>OperatorsName: <strong>{{instanceRecords.OperatorsName}}</strong>
              </p>
              <p>InstitutionalDepartmentName: <strong>{{instanceRecords.InstitutionalDepartmentName}}</strong>
              </p>
              <p>Manufacturer: <strong>{{instanceRecords.Manufacturer}}</strong>
              </p>
              <p>PatientName: <strong>{{instanceRecords.PatientName}}</strong>
              </p>
              <p>StudyDate: <strong>{{instanceRecords.StudyDate}}</strong>
              </p>
            
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>